body {
  font-family: 'Open Sans', sans-serif;
}

.axis-label, .legend-label {
  fill: #AAAAAA;
  font-size: 10pt;
  font-family: 'Open Sans', sans-serif;
}





.slider rect {
  fill: gray;
  shape-rendering: crispEdges;
}

.slider line {
  fill: none;
  stroke: red;
  opacity: 0.3;
  shape-rendering: crispEdges;
}

table {
  border-spacing: 0;
}
td {
  padding:10px;
  height: 10ex;
}
th {
  padding:10px;
  height: 10ex;
}
