body {
  font-family: 'Open Sans', sans-serif;
}


#chart {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 20px;
  bottom: 0px;
}

.slider rect {
  fill: gray;
  shape-rendering: crispEdges;
}

.slider line {
  fill: none;
  stroke: red;
  opacity: 0.3;
  shape-rendering: crispEdges;
}
