body {
  font-family: 'Open Sans', sans-serif;
}

#court {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 70px;
  bottom: 0px;
}

.slider rect {
  fill: gray;
  shape-rendering: crispEdges;
}

.slider line {
  fill: none;
  stroke: red;
  opacity: 0.3;
  shape-rendering: crispEdges;
}

table {
  border-spacing: 0;
}
td {
  padding:6px;
  height: 2ex;
}
th {
  padding:6px;
  height: 2ex;
}
